{% extends 'administration/admin.html.twig' %}
{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-7">
                <h2>Collections</h2>
            </div>
        </div>
        {% include 'collection/collectionsList.html.twig'  %}
    </div>
{% endblock %}