{% extends 'base.html.twig' %}

{% block body %}
    <div class="bg-green">
        <div class="mt-5 mb-5 ml-5">
            <h1 class="text-white">Privacy Policy</h1>
        </div>
    </div>
    <div class="container mt-5">

        <article id="date">
            <div>Effective Date: October 28, 2024</div>
            <div>Last Updated: October 28, 2024</div>
        </article>

        <article class="mt-5" id="introduction">
            <h3>Introduction</h3>

            <p>
                This Privacy Policy describes how we may collect, share, and use the information you provide to us,
                or we otherwise collect, when you use any ecoSound-web website that link to this Privacy Policy.
                We are responsible for providing the Services to you and are the controller of personal data processed under this Privacy Policy.
            </p>
        </article>


        <article class="mt-5" id="information-we-collect">
            <h3>Information We Collect</h3>

            <p>
                We collect information on and through our Services. The specific types of information we collect vary
                depending on the nature of our relationship with you and how you choose to interact with us, but may include
                personal data. Generally speaking, we collect information in two main ways: A) when you provide it to us,
                B) automatically when you use the Services.
            </p>
            <p>
                <strong>A. Information You Provide</strong>
            </p>
            <p>
                You can provide us with different kinds of information depending on how you interact with the Services.
                Sometimes we'll ask you to provide specific pieces of information, such as where we require it to provide
                parts of the Services to you (for example, by prompting you to complete an online registration process). If
                we ask you to provide us with information in these cases and you choose not to, you may not be able to
                access the relevant Services and/or some features may not operate as intended. For instance, to register as
                a user and create a profile, you'll need to provide us with basic registration information like your name, a
                public-facing display name, password, and email address.
            </p>
            <p>
                <strong>B. Information We Collect Automatically</strong>
            </p>
            <p>
                We collect some information automatically when you visit, access, or use the Services. This includes
                information about your site usage and other activity in the
                Services, typically associated with your account profile or with an identifier we have assigned to your
                device or profile. While the specific types of information that we automatically collect may vary, they
                generally include:
            </p>
            <ul>
                <li>
                    Usage information and statistics about how you interact with the Services, including the application you used, saved preferences;
                </li>
                <li>
                    Technical information about your computer, device, hardware, or software you use to access our Services,
                    such as IP address, device identifiers, your internet service provider, plugins, or other transactional
                    or identifier information for your device (such as device make and model, information about device
                    operating systems and browsers, or other device or system-related specifications); and
                </li>
                <li>
                    The general location of your device, which we typically derive from your device's IP address.
                </li>
            </ul>
            <p>
                The Services use technologies such as cookies, log files, and web beacons to automatically collect the types
                of information listed above. Some of these technologies may create small files or record-keeping tools that
                may be stored on your device. They help us, our service providers recognize your device
                and provide information about how you use and interact with the Services. For example, they support our
                ability to authenticate users, remember preferences, personalize experiences, and conduct data analytics.
                Please see the "Cookies" section below of this Privacy Policy for further information about what information
                will be automatically collected when you visit our Services.
            </p>
        </article>

        <article class="mt-5" id="how-we-use-your-information">
            <h3>How We Use Your Information</h3>

            <p>
                As a general matter, we use the information we collect (either individually or in combination with other
                information collected as described in this policy) to help us provide, improve, customize and analyze the Services.
            </p>
            <p>
                This includes using it for purposes such as:
            </p>
            <ul>
                <li>
                    Creating use profiles, verifying and managing user accounts and features;
                </li>
                <li>
                    Developing, delivering, and improving the Services and other offerings, some of which may be offered in
                    partnership with other parties;
                </li>
                <li>
                    Conducting research and data analytics (like analyzing how the Services are used so we can better
                    understand, improve, and personalize them);
                </li>
                <li>
                    Complying with our legal or contractual obligations and enforcing our terms; and
                </li>
                <li>
                    Securing the Services, such as by detecting fraud and otherwise protecting users from
                    illegal or harmful actions.
                </li>
            </ul>
        </article>

        <article class="mt-5" id="recipients-of-your-information">
            <h3>Recipients of Your Information</h3>

            <p>
                We may otherwise disclose your information:
            </p>
            <ol>
                <li>
                    to analytics and search engine providers and other selected third parties that assist us in the
                    improvement and optimization of our website;
                </li>
                <li>
                    to our regulators, law enforcement, or fraud prevention agencies, as well as our advisors (including
                    legal advisors and auditors), courts, and any other authorized bodies, for the purposes of investigating
                    any actual or suspected criminal activity or other regulatory or legal matters;
                </li>
                <li>
                    if we are under a duty to disclose or share your personal data to comply with any legal obligation, or
                    to enforce or apply our terms of use and other agreements; or to protect the rights, property, or safety,
                    our customers, or others. This may include exchanging information with other companies and
                    organizations for the purposes of fraud protection and credit risk reduction;
                </li>
                <li>
                    to legal advisors and otherwise in connection with legal proceedings to enforce or apply our rights
                    under any contract; and
                </li>
                <li>
                    otherwise where we have notified you of the intended disclosure, and where required, you have expressly
                    given your prior consent to such disclosure.
                </li>
            </ol>
        </article>

        <article class="mt-5" id="privacy-settings-controls">
            <h3>Privacy Settings / Controls</h3>

            <p>
                We seek to provide you with meaningful choices about the personal data we collect. The specific choices
                available to you often vary depending on how you interact with the Services:
            </p>
            <ul>
                <li>
                    If we process your personal data based on your consent, you have the right to withdraw your consent at
                    any time by updating the settings in your user profile or contacting us at kevin.darras@inrae.fr.
                </li>
                <li>
                    If you wish to modify any of your user profile information, restrict the processing of your personal
                    data, or cancel your account, you may update the settings in your user profile or contact us at
                    kevin.darras@inrae.fr.
                </li>
                <li>
                    You can request that we provide access to, or that we correct or delete, personal information we've
                    collected from you. Please submit requests to access, update, or delete personal information associated
                    with your account by contacting us at kevin.darras@inrae.fr. Note that we may ask you for
                    additional information to help us verify who you are before completing your request.
                </li>
                <li>
                    You can change your browser or mobile device settings to block, manage, delete, or limit tracking
                    technologies like cookies. In some cases, blocking or disabling cookies may cause the Services not to
                    work as intended and some features may not be available.
                </li>
                <li>
                    Some parts of the world provide individuals with specific choices related to their personal information
                    by right under local law. For example, Where the French Data Protection Act is applicable, you have the
                    right to make arrangements for the storage and communication of your personal data after your death. To
                    exercise this right (or others), you can send us your instructions at kevin.darras@inrae.fr.
                </li>
            </ul>
        </article>

        <article class="mt-5" id="childrens-privacy">
            <h3>Children's Privacy</h3>

            <p>
                Our Services are not intended for persons under the age of 18. Individuals under the age of 18 are not
                permitted to use the Services, and we do not knowingly collect personal data from persons under the age of
                18. By using our Services, you represent that you are 18 years of age or older.
            </p>
        </article>

        <article class="mt-5" id="cook">
            <h3>Cookies</h3>

            <p>
                We may use various cookies or other tracking technologies on our Services for analysis and improvement. When you visit our Services, these technologies may be placed on your device Internal cookies required to run the website in the best possible manner (including for user authentication, to keep your session active when logged-in, and to indicate the content to display a user)
            </p>
            <p>
                <em>Manage cookie settings</em>
            </p>
            <p>
                You may adjust your browser or website preferences to accept or reject cookies and similar technologies from
                us. Please consult your browser's settings or help menu for more information. However, blocking cookies or
                similar technology might prevent you from accessing some of our content or features of the Services.
            </p>

            <button class="btn btn-outline-primary btn-cookie">Manage cookies</button>

        </article>

        <article class="mt-5" id="security">
            <h3>Security</h3>

            <p>
                Where we have given you (or where you have chosen) a password which enables you to access certain parts of
                our website and apps, you are responsible for keeping this password confidential. We ask you not to share
                your password with anyone.
            </p>
            <p>
                Unfortunately, the transmission of information via the Internet is not completely secure. Although we will
                do our best to protect your information, we cannot guarantee the security of your data transmitted to the
                Services. Any transmission is at your own risk. Once we have received your personal data, we will use strict
                procedures and security features to prevent unauthorized access, including keeping security patches up to
                date, and by constantly investigating new ways to keep data secure.
            </p>
        </article>

        <article class="mt-5" id="changes-to-this-privacy-policy">
            <h3>Changes to this Privacy Policy</h3>

            <p>
                We may revise this Privacy Policy from time to time to reflect changes in our practices or relevant laws.
                The most current version of the Privacy Policy will govern our use of your personal data and will always be
                located at <a href="{{ baseUrl }}/project/cookie_policy">{{ baseUrl }}/project/cookie_policy</a>. If we make a material
                change to this Privacy Policy (for example, if the modifications concern the categories of data we process
                or the purposes of the processing), we will notify you via email (to the email address
                associated with your account) within thirty (30) days before publication.
            </p>
        </article>

        <article class="mt-5 mb-5" id="contacting">
            <h3>Contacting Us</h3>

            <p>
                If you have any questions about this Privacy Policy, or the privacy practices please email us
                at kevin.darras@inrae.fr.
            </p>
        </article>
    </div>
{% endblock %}
