<footer class="mt-auto">
    <div class="container text-muted py-4">
        <div class="row">
            <div class="col-lg-8 mr-auto">
                <p>ecoSound-web logo © Kevin F.A. Darras 2021, All rights reserved.</p>
                <p>Copyright © 2015 - 2022,
                    <a href="http://www.crazycodelady.com" target="_blank" title="Noemi Perez Gilabert">Noemi Perez</a>,
                    <a href="https://kevindarras.weebly.com" target="_blank" title="Kevin Felix Arno Darras">Kevin Darras</a>,
                    <a>Liu Dilong</a>
                    and the ecoSound-web contributors
                    <a href="https://www.gnu.org/licenses/gpl-3.0" target="_blank" title="GPLv3">GPLv3</a>.
                </p>
            </div>
            <div>
                <a href="/project/cookie_policy" target="_blank">Privacy Policy</a>
                <br>
                <a class="btn-cookie" href="#">Manage Cookies</a>
            </div>
        </div>
    </div>
</footer>
