{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <h1 class="c1 title">
            <span>Global Soundscapes Project</span>
        </h1>
        <p>
            The project unites soundscape science across terrestrial, marine, and freshwater, and urban systems and comprises 159 collaborators who contribute meta-data from 392 soundscape recording datasets (as of 2022-07-22).
        </p>
        <p>
            The project is open to new collaborators (contact: kdarras#at#gwdg#dot#de) and aims to serve as a useful starting point for novel soundscape-based analyses.
        </p>
        <p>
            <span><img src="{{projectImagesUrl}}/spatio-temporal_coverage.png" title=""/></span>
        </p>
        <p>
            <span>The meta-data are available
                <b>
                    <a class="c12" href="https://docs.google.com/spreadsheets/d/1m6rAkWKYFHKKdl2K7vzpgDEbIDr5vthkb4goKTMVms0">here</a>
                </b>
                . We include soundscape datasets whose recordings meet the following requirements:</span>
        </p>
        <ul class="start">
            <li>
                <span>Stationary (no transecs, towed sensors or microphones mounted on cars)</span>
            </li>
            <li>
                <span>Passive (unattended, no human disturbance by the recordist)</span>
            </li>
            <li>
                <span>Ambient (no spatial or temporal focus on a particular species or direction)</span>
            </li>
            <li>
                <span>Spatially and temporally replicated (multiple sites sampled at least at one common time or multiple days sampled at least in one common site)</span>
            </li>
        </ul>
        <h3>
            <span style="color: #4a86e8;">First synthesis: "The global state of soundscape ecology: quantitative synthesis of meta-data"</span>
        </h3>
        <h5>
            <span style="color: #38761d;">Team</span>
        </h5>
        <p>
            <span>Lead: Kevin F.A. Darras</span>
            <span class="vert-super">1,2</span>
        </p>
        <p>
            <span>Co-leads: Steve Van Wilgenburg</span>
            <span class="vert-super">3</span>
            <span>
                (terrestrial), Songhai Li, Lijun Dong</span>
            <span class="vert-super">4</span>
            <span>
                (marine), Rodney Rountree</span>
            <span class="vert-super">5</span>
            <span>
                (freshwater), Amandine Gasc</span>
            <span class="vert-super">6</span>
            <span>
                (urban & multiple realms), Thomas Cherico Wanger</span>
            <span class="vert-super">1</span>
            <span>
                (terrestrial)</span>
        </p>
        <ol class="start" start="1">
            <li>
                <span>Westlake University, Hangzhou, China</span>
            </li>
            <li>
                <span>University of G&ouml;ttingen, G&ouml;ttingen, Germany</span>
            </li>
            <li>
                <span>Environment & Climate Change Canada, Saskatoon, Canada</span>
            </li>
            <li>
                <span>Chinese Academy of Sciences, Sanya, China</span>
            </li>
            <li>
                <span>University of Victoria, Victoria, Canada</span>
            </li>
            <li>
                <span>Institut de Recherche pour le Développement, France</span>
            </li>

        </ol>
        <h5>
            <span style="color: #38761d;">Summary</span>
        </h5>
        <p>
Biodiversity and environmental phenomena are monitored acoustically worldwide by researchers, managers and practitioners above and under water and land, in natural and human-made environments. We compiled a comprehensive meta-dataset for the first global, quantitative synthesis of soundscapes. With  a unified global framework, we determined the current state of knowledge and identify research gaps and biases. The current spatial, temporal, ecological (across ecosystem types, taxa, and protected areas), and administrative sampling coverage highlights gaping sampling gaps between biomes and strong temporal sampling biases.
        </p>
        <p>
            <span>Selected datasets from the Global Soundscape Projects will be uploaded and analysed on ecoSound-web for a second global synthesis on the biophony, anthropophony, and geophony. We will invite their creators as co-authors.</span>
        </p>

    </div>
{% endblock %}
