{% extends 'administration/admin.html.twig' %}

{% block admin_content %}
    <div class="card mb-3" id="queuesList">
        <div class="card-header border-light bg-white text-right">
            <div class="form-inline">
                <div class="col-12 form-inline justify-content-end">
                    <label class="mr-2">Search:</label>
                    <input class="form-control-sm" id="search">
                </div>
            </div>
            <button id="deletion" name="table-btn" class="btn btn-outline-primary btn-sm mt-2" type="button" data-target="#deletion" disabled>
                <i class="fas fa-square"></i>
                Clear
            </button>
            <button id="queuesExport" class="btn btn-outline-primary btn-sm mt-2" type="button" data-target="#queuesExport" aria-expanded="false" aria-controls="queuesExport">
                <i class="fa fa-file-csv"></i>
                Save all as CSV
            </button>
        </div>
        <table id="queuesTable" style="display:none;white-space: nowrap;">
            <thead class="table-borderless">
            <tr style="font-size: .875rem;">
                <th>
                    <input type="checkbox" class="js-all-checkbox" name="check-all" id="check-all">
                </th>
                <th>#</th>
                <th>Type</th>
                <th>Progress</th>
                <th>Status</th>
                <th>Start Datetime</th>
                <th>End Datetime</th>
                <th>Elapsed Time</th>
                <th>Warning</th>
                <th>Error</th>
            </tr>
            </thead>
            <tbody class="form-control-sm js-index-log-list"></tbody>
        </table>
    </div>
    <div class="modal fade" id="modal-div" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-danger">Warning</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body ml-3">
                    <div>
                        <div class="form-group">
                            <input id="delete_id" type="hidden">
                            <label id="delete_info"></label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="js-close-button" type="button" class="btn btn-outline-secondary" data-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times"></i>
                        Close
                    </button>
                    <button id="js-delete-button" type="button" class="btn btn-outline-danger">
                        <i class="fas fa-square"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block header %}
    {{ parent() }}
    <script>
        var cancel_btn = '';
        var clear_btn = '';
        var btn = '';
        var checkboxState = {};
        $(document).ready(function () {
            $('#queuesTable').show()
            $('#queuesTable').on('change', '.js-checkbox', function () {
                var id = $(this).data('id');
                checkboxState[id] = $(this).prop('checked');
                cancel_btn = '';
                clear_btn = '';
                $.each(checkboxState, function (id, checked) {
                    if (checked) {
                        var status = $('#queuesTable .js-checkbox[data-id="' + id + '"]').closest('td').nextAll('td').eq(3).text()
                        if (status == 'ongoing' || status == 'pending') {
                            cancel_btn = 'Cancel';
                        } else {
                            clear_btn = 'Clear';
                        }
                        if (cancel_btn && clear_btn) {
                            btn = cancel_btn + '/' + clear_btn
                        } else {
                            btn = cancel_btn + clear_btn
                        }
                        $('#deletion').html('<i class="fas fa-square"></i> ' + btn)
                        $('#js-delete-button').html('<i class="fas fa-square"></i> ' + btn)
                    }
                });
            });
            let table = $('#queuesTable').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": '{{ baseUrl }}/api/admin/queueMgr/getListByPage',
                    "type": 'POST',
                    "error": function (xhr, error, thrown) {
                        if (xhr.status == 400 || xhr.status == 404 || xhr.status == 500) {
                            location.reload();
                        }
                    }
                },
                "dom": 'lrtip',
                "stateSave": true,
                "StateDuration": -1,
                "order": [[1, 'asc']],
                "columnDefs": [
                    {
                        "orderable": false,
                        "targets": [0],
                    },
                    {
                        "className": "dt-center",
                        "targets": [0],
                    }],
                "bAutoWidth": false,
                "scrollX": true,
            });
            setInterval(function () {
                if (!document.hidden) {
                    $('#queuesTable').DataTable().ajax.reload(function () {
                        $.each(checkboxState, function (id, checked) {
                            $('#queuesTable .js-checkbox[data-id="' + id + '"]').prop('checked', checked);
                        });
                        if ($('#queuesTable .js-checkbox:checked').length > 0) {
                            $('button[name="table-btn"][data-target="#deletion"]').removeClass('btn-outline-secondary').removeClass('btn-outline-primary').addClass('btn-outline-danger');
                            $('button[name="table-btn"][data-target="#deletion"]').prop('disabled', false);
                        } else {
                            $('button[name="table-btn"][data-target="#deletion"]').removeClass('btn-outline-primary').removeClass('btn-outline-danger').addClass('btn-outline-secondary');
                            $('button[name="table-btn"][data-target="#deletion"]').prop('disabled', true);
                        }
                    }, false);
                }
            }, 5000);
            if (table.state.loaded()) {
                $('#search').val(table.state.loaded().search.search);
            }
            $('#search').on('input', () => {
                table.search($('#search').val()).draw();
            });
        });

        $(function () {
            'use strict';

            $('button[name="table-btn"][data-target="#deletion"]').click(function (e) {
                if ($('.js-checkbox:checked').length > 1) {
                    $('#delete_info').html("Are you sure you want to " + btn.toLowerCase() + " these <b class=\"text-danger\" >" + $('.js-checkbox:checked').length + "</b> entries?")
                } else {
                    $('#delete_info').html("Are you sure you want to " + btn.toLowerCase() + " this entry?")
                }
                $("#modal-div").modal('show');
            })

            $('#js-delete-button').click(function (e) {
                let id = [];
                $('.js-checkbox:checked').each(function () {
                    id.push($(this).data('id'));
                });
                let data = {'id': id};
                postRequest('{{ baseUrl }}/api/admin/queueMgr/delete', data, false, false, function () {
                    location.reload();
                });
            });
            $(document).on('click', '#queuesExport', function () {
                window.location.href = '{{ baseUrl }}/api/admin/queueMgr/export';
            });
        });
    </script>
{% endblock %}
