{% extends 'administration/admin.html.twig' %}

{% block admin_content %}
    <div class="card">
        <div class="card-body">
            <form action="{{ baseUrl }}/admin/settings/save" class="js-async-form" id="settingForm">
                <div class="form-group input-group-sm">
                    <label for="fft">FFT window size</label>
                    <select id="fft" name="fft" class="form-control">
                        {% for fft in ffts %}
                            <option {{ fft == user ? 'selected' : '' }}>{{ fft }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group text-right">
                    <button type="submit" class="btn btn-outline-primary"><i class="fas fa-save"></i> Save</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
